body{
	font-family: Verdana;
}

.Lennartsklass{
	border:1px solid black;
	width: 150px;
	height: 200px;
	background-color: #336699;
	padding: 15px;
	color: white;
	border-radius: 10px;
	font-size: 25px;
	text-decoration: underline;
	float: left;
}

.Knutssonsklass{
	border:1px solid black;
	width: 150px;
	height: 200px;
	background-color: red;
	padding: 15px;
	color: white;
	border-radius: 10px;
	font-size: 25px;
	text-decoration: underline;
	float: left;
}
#ettrandomidnamn{
	color: green;
}